#logo_newlife{
    margin-top: 5%;
    width:60%;
    height: auto;
}

#formulario{
    padding-top: 5%;
}

.meio{
    position: absolute;
    top: 10%;
    right: 58%;
    transform: translate(50%, 50%);
}
.container{
    position: relative;
}

#upload{
    margin-top: 1%;
    display: none;
}
#connect{
    margin-top: 1%;
    display: none;    
}
#analise{
    margin-top: 1%;
    display: none;
}
#download{
    margin-top: 1%;
    display: none;
}
#sucesso{
    display: none;
}


#chama_loading{
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;

}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


